{{ define "content" }}
<img class="w-100" src="/static/images/banner1.jpg" alt="">
<p class="bg-secondary p-2">Kenting, Taiwan (墾丁, 台灣) 2018</p>

<h5 class="text-white mt-4 mb-0">Recent Posts by Casey Flynn</h5>

{{ range $key, $value := .BlogPosts }}
<div class="card my-2">
    <a href="/posts/{{ $key }}"><h5 class="card-header">{{ $value.Title }}</h5></a>
    <div class="card-body">
        <h6 class="card-title text-secondary">{{ $value.Date.Format "2006-01-02" }}</h6>
        <p class="card-text">{{ $value.Description }}</p>
    </div>
</div>
{{ end }}

{{ end }}
